spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://user-service:8080
          predicates:
            - Path=/api/v1/user/**
        - id: message-service
          uri: http://message-service:8080
          predicates:
            - Path=/api/v1/message/**
        - id: message-service-ws
          uri: ws://message-service:8080
          predicates:
            - Path=/api/v1/message/ws/**

  main:
    web-application-type: REACTIVE

# JWT Settings
jwt:
  secret: ${JWT_SECRET}

management:
  server:
    port: ${MANAGEMENT_PORT:8081}
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: INFO
    com.turnofevents.apigateway: DEBUG
